*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    height: 100vh;
    background-color:lightgray;
}
.hgbild{
    width: 100%;
    position: absolute;
}

@media (max-width: 700px) {
    .hgbild{
        width: 100%;
    }
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial;
}

a:hover{
    color: magenta;
    }
    
header{
    position: relative;
    padding: 0 2rem;
    background-color:rgba(0,0,0,0.15);
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}



.navbar .links {
    display: flex;
    gap: 2rem;
}

.toggle_btn {
    display: none; /* Initially hide the toggle button */
    cursor: pointer;
    font-size: 24px;
}

@media screen and (max-width: 700px) {
    .links {
        display: none; /* Hide the links in smaller screens */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .links.show {
        display: flex; /* Show the links when the toggle button is clicked */
    }

    .toggle_btn {
        display: block; /* Show the toggle button in smaller screens */
    }
}

.action_btn{
    background-color: magenta;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    background-color:goldenrod;
    scale: 1.05;
    color: white
}

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
}

/*Icons*/

.icont{
    color: purple;
    font-size: 400%;
    opacity: 0.7;
    transition: scale 0.2 ease;
}

.icont:hover{
    opacity: 1;
    scale: 1.1;
}

.icony{
    color: red;
    font-size: 400%;
    opacity: 0.7;
    transition: scale 0.2 ease;
}

.icony:hover{
    opacity: 1;
    scale: 1.1;
}

.icond{
    color:cornflowerblue;
    font-size: 400%;
    opacity: 0.7;
    transition: scale 0.2 ease;
}

.icond:hover{
    opacity: 1;
    scale: 1.1;
}

.icontabelle{
    margin: auto;
    width: 30%;
}

h1{
    text-align: center;
    font-family: Arial;
    font-size: 400%;
    color: white;
    font-weight: bold;
    position: relative;
}

h2{
    position: relative;
    color: white;
    text-align: center;
}

.überh2{
    position: relative;
    color: black;
    text-align: center;
    font-size: 200%;
}

h3{
    color: gray;
    text-align: center;
    font-size: 80%;
}

@media (max-width: 700px) {
    h2{
            color: black;
        }
    }

.pagetabelle{
    margin: auto;
    width: 90%;
    align-items: center;
    
}
    
.page{
    width: 95%;
    height: 650px;
    background-color: black;
    border-radius: 5%;
    padding: 20px;
    margin: 20;
    opacity: 0.3;
}

.foot{
    display: flex;
    margin: auto;
    padding: auto;
}

.skill{
    width: 160px;
    height: 160px;
    position: relative;
    margin: auto;
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                 inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                 -0.5px -0.5px 0px rgba(255,255,255,1),
                 0.5px 0.5px 0px rgba(0,0,0,0.15),
                 0px 12px 10px -10px rgba(0,0,0,0.05);
}

#number{
    font-weight: 600px;
    color: #555;

}

.c1{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim1 2s linear forwards;
}

.c2{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 2s linear forwards;
}


svg{
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim1{
    100%{
        stroke-dashoffset: 0;;
    }
}

@keyframes anim2{
    100%{
        stroke-dashoffset: 0;;
    }
}

.Statistik{
    width: 35%;
    position: relative;
    margin: 0 auto;
    color: black;
    align-items: center;
}

@media (max-width: 700px) {
    .Nurpcbr{
            display: none
        }
    }

.thstats{
    font-size: 150%;
}

.datum{
text-align: center;
color: black;
font-size: 140%;
}

.openend{
    color: magenta;
    font-weight: bold;
}

.newsbild{
    width: 60%;
    height: auto;
}

.newsbox{
    align-items: center;
    position: relative;
    display: flex;
    text-align: center;
    padding: 4%;
    gap: 1%;

}

.news{
    color: white;
    font-size: 150%;
}

.newsbg{
    position: absolute;
    width: 100%;
}

@media (max-width: 700px) {
    .news{
            font-size: 100%;
        }
    }

@media (max-width: 700px) {
    .newsbild{
            width: 80%;
        }
    }

